.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.051270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.895996;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.012207;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000488;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.885254;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.857910;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:0.926270;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.756836;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:0.795410;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:0.739746;font-style:normal;font-weight:normal;visibility:visible;}
.m2{transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-ms-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);-webkit-transform:matrix(0.000000,-0.250000,0.250000,0.000000,0,0);}
.m1{transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-ms-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);-webkit-transform:matrix(0.236033,0.000000,-0.082391,0.236033,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.m3{transform:none;-ms-transform:none;-webkit-transform:none;}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-2.000000px;}
.ls1{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._4{margin-left:-2.439512px;}
._3{margin-left:-1.000244px;}
._1{width:1.719838px;}
._0{width:3.952885px;}
._2{width:64.100000px;}
._5{width:333.421822px;}
.fc9{color:rgb(192,0,0);}
.fc7{color:rgb(38,38,38);}
.fc8{color:rgb(98,157,209);}
.fc5{color:rgb(0,0,0);}
.fc4{color:rgb(64,64,64);}
.fc6{color:rgb(89,89,89);}
.fc0{color:rgb(52,119,178);}
.fc1{color:rgb(20,64,106);}
.fc2{color:rgb(157,144,160);}
.fc3{color:rgb(41,127,213);}
.fs8{font-size:56.000000px;}
.fs7{font-size:64.000000px;}
.fs5{font-size:72.000000px;}
.fs3{font-size:74.000000px;}
.fs4{font-size:76.260440px;}
.fs6{font-size:80.000000px;}
.fs9{font-size:112.000000px;}
.fs1{font-size:148.000000px;}
.fs2{font-size:192.000000px;}
.fs0{font-size:264.000000px;}
.y0{bottom:0.000000px;}
.y23{bottom:63.270602px;}
.y2c{bottom:63.862582px;}
.y29{bottom:65.149051px;}
.y26{bottom:65.149203px;}
.y32{bottom:69.840610px;}
.y3b{bottom:70.432590px;}
.y38{bottom:71.719028px;}
.y35{bottom:71.719211px;}
.y44{bottom:72.990451px;}
.y45{bottom:79.920303px;}
.y3d{bottom:112.956271px;}
.y3e{bottom:114.153537px;}
.y3f{bottom:114.205325px;}
.y40{bottom:114.308963px;}
.y14{bottom:116.968353px;}
.y2{bottom:136.469376px;}
.y22{bottom:137.383761px;}
.y2b{bottom:137.975741px;}
.y13{bottom:138.568359px;}
.y28{bottom:139.262179px;}
.y25{bottom:139.262332px;}
.y31{bottom:143.953769px;}
.y3a{bottom:144.545718px;}
.y1d{bottom:145.627024px;}
.y37{bottom:145.832187px;}
.y34{bottom:145.832339px;}
.y43{bottom:147.103610px;}
.y49{bottom:150.380290px;}
.y21{bottom:159.096988px;}
.y2a{bottom:159.688968px;}
.y12{bottom:160.168365px;}
.y27{bottom:160.975406px;}
.y24{bottom:160.975589px;}
.y30{bottom:165.666995px;}
.y39{bottom:166.258975px;}
.y36{bottom:167.545413px;}
.y33{bottom:167.545566px;}
.y42{bottom:168.816836px;}
.y9{bottom:179.161179px;}
.y11{bottom:181.768372px;}
.y2d{bottom:186.766022px;}
.y20{bottom:187.333649px;}
.y1f{bottom:189.026184px;}
.y3c{bottom:193.336029px;}
.y2f{bottom:193.903687px;}
.y2e{bottom:195.596252px;}
.y41{bottom:196.867554px;}
.y8{bottom:200.761181px;}
.y10{bottom:203.368378px;}
.y1{bottom:204.378708px;}
.y7{bottom:222.361181px;}
.yf{bottom:224.968376px;}
.y48{bottom:244.291240px;}
.ye{bottom:246.568375px;}
.y46{bottom:246.649692px;}
.y6{bottom:265.413155px;}
.yd{bottom:268.168373px;}
.y16{bottom:268.385811px;}
.y19{bottom:268.385902px;}
.y1a{bottom:278.287540px;}
.y17{bottom:278.763218px;}
.yc{bottom:289.768372px;}
.y15{bottom:289.985809px;}
.y18{bottom:289.985901px;}
.y4a{bottom:310.041889px;}
.yb{bottom:311.368370px;}
.y47{bottom:312.336268px;}
.y1e{bottom:318.904331px;}
.y5{bottom:319.721489px;}
.y4{bottom:339.161491px;}
.y1c{bottom:359.602055px;}
.y3{bottom:415.696915px;}
.ya{bottom:416.086998px;}
.y1b{bottom:418.883141px;}
.h10{height:37.324219px;}
.hf{height:38.062500px;}
.hd{height:46.593750px;}
.ha{height:48.937500px;}
.hc{height:51.539062px;}
.h4{height:53.115234px;}
.h9{height:53.542969px;}
.h8{height:53.874023px;}
.he{height:57.957031px;}
.hb{height:58.242188px;}
.h6{height:58.289062px;}
.h5{height:58.759264px;}
.h11{height:80.390625px;}
.h2{height:119.816406px;}
.h7{height:139.781250px;}
.h3{height:155.437500px;}
.h1{height:213.726562px;}
.h0{height:540.000000px;}
.w0{width:960.000000px;}
.x0{left:0.000000px;}
.x1a{left:7.414724px;}
.x19{left:23.152363px;}
.x1b{left:57.747005px;}
.xd{left:72.468452px;}
.x4{left:86.399994px;}
.x3{left:91.238251px;}
.x2{left:93.600006px;}
.x1{left:98.109070px;}
.x16{left:110.976059px;}
.x14{left:125.047055px;}
.x17{left:163.775192px;}
.x15{left:180.088864px;}
.x2e{left:185.983032px;}
.x18{left:218.518814px;}
.x13{left:231.925168px;}
.x12{left:263.387878px;}
.xe{left:266.847595px;}
.x2a{left:429.105133px;}
.x24{left:436.316559px;}
.x10{left:454.706741px;}
.x2b{left:465.539001px;}
.xf{left:469.760939px;}
.x22{left:483.179779px;}
.x23{left:498.063993px;}
.x2d{left:503.412781px;}
.x25{left:526.256531px;}
.x1f{left:574.156555px;}
.x1d{left:588.227475px;}
.x2c{left:590.066223px;}
.x26{left:625.005188px;}
.x11{left:637.560501px;}
.x5{left:640.535767px;}
.x20{left:673.790405px;}
.x1e{left:690.104062px;}
.x27{left:722.778442px;}
.xc{left:769.729523px;}
.x21{left:774.669983px;}
.xa{left:779.354523px;}
.x1c{left:788.076352px;}
.x9{left:797.104523px;}
.x6{left:823.022484px;}
.xb{left:832.147484px;}
.x8{left:854.897484px;}
.x7{left:864.022476px;}
.x29{left:886.043884px;}
.x28{left:899.450253px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-2.666667pt;}
.ls1{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._4{margin-left:-3.252682pt;}
._3{margin-left:-1.333659pt;}
._1{width:2.293117pt;}
._0{width:5.270514pt;}
._2{width:85.466667pt;}
._5{width:444.562429pt;}
.fs8{font-size:74.666667pt;}
.fs7{font-size:85.333333pt;}
.fs5{font-size:96.000000pt;}
.fs3{font-size:98.666667pt;}
.fs4{font-size:101.680586pt;}
.fs6{font-size:106.666667pt;}
.fs9{font-size:149.333333pt;}
.fs1{font-size:197.333333pt;}
.fs2{font-size:256.000000pt;}
.fs0{font-size:352.000000pt;}
.y0{bottom:0.000000pt;}
.y23{bottom:84.360803pt;}
.y2c{bottom:85.150110pt;}
.y29{bottom:86.865401pt;}
.y26{bottom:86.865604pt;}
.y32{bottom:93.120813pt;}
.y3b{bottom:93.910119pt;}
.y38{bottom:95.625370pt;}
.y35{bottom:95.625614pt;}
.y44{bottom:97.320601pt;}
.y45{bottom:106.560404pt;}
.y3d{bottom:150.608362pt;}
.y3e{bottom:152.204716pt;}
.y3f{bottom:152.273767pt;}
.y40{bottom:152.411950pt;}
.y14{bottom:155.957804pt;}
.y2{bottom:181.959167pt;}
.y22{bottom:183.178349pt;}
.y2b{bottom:183.967655pt;}
.y13{bottom:184.757813pt;}
.y28{bottom:185.682906pt;}
.y25{bottom:185.683109pt;}
.y31{bottom:191.938358pt;}
.y3a{bottom:192.727624pt;}
.y1d{bottom:194.169365pt;}
.y37{bottom:194.442916pt;}
.y34{bottom:194.443119pt;}
.y43{bottom:196.138147pt;}
.y49{bottom:200.507053pt;}
.y21{bottom:212.129317pt;}
.y2a{bottom:212.918624pt;}
.y12{bottom:213.557821pt;}
.y27{bottom:214.633874pt;}
.y24{bottom:214.634118pt;}
.y30{bottom:220.889327pt;}
.y39{bottom:221.678633pt;}
.y36{bottom:223.393884pt;}
.y33{bottom:223.394087pt;}
.y42{bottom:225.089115pt;}
.y9{bottom:238.881571pt;}
.y11{bottom:242.357829pt;}
.y2d{bottom:249.021362pt;}
.y20{bottom:249.778198pt;}
.y1f{bottom:252.034912pt;}
.y3c{bottom:257.781372pt;}
.y2f{bottom:258.538249pt;}
.y2e{bottom:260.795003pt;}
.y41{bottom:262.490072pt;}
.y8{bottom:267.681575pt;}
.y10{bottom:271.157837pt;}
.y1{bottom:272.504944pt;}
.y7{bottom:296.481575pt;}
.yf{bottom:299.957835pt;}
.y48{bottom:325.721653pt;}
.ye{bottom:328.757833pt;}
.y46{bottom:328.866255pt;}
.y6{bottom:353.884206pt;}
.yd{bottom:357.557831pt;}
.y16{bottom:357.847748pt;}
.y19{bottom:357.847870pt;}
.y1a{bottom:371.050054pt;}
.y17{bottom:371.684291pt;}
.yc{bottom:386.357829pt;}
.y15{bottom:386.647746pt;}
.y18{bottom:386.647868pt;}
.y4a{bottom:413.389186pt;}
.yb{bottom:415.157827pt;}
.y47{bottom:416.448358pt;}
.y1e{bottom:425.205775pt;}
.y5{bottom:426.295319pt;}
.y4{bottom:452.215322pt;}
.y1c{bottom:479.469406pt;}
.y3{bottom:554.262553pt;}
.ya{bottom:554.782664pt;}
.y1b{bottom:558.510854pt;}
.h10{height:49.765625pt;}
.hf{height:50.750000pt;}
.hd{height:62.125000pt;}
.ha{height:65.250000pt;}
.hc{height:68.718750pt;}
.h4{height:70.820312pt;}
.h9{height:71.390625pt;}
.h8{height:71.832031pt;}
.he{height:77.276042pt;}
.hb{height:77.656250pt;}
.h6{height:77.718750pt;}
.h5{height:78.345686pt;}
.h11{height:107.187500pt;}
.h2{height:159.755208pt;}
.h7{height:186.375000pt;}
.h3{height:207.250000pt;}
.h1{height:284.968750pt;}
.h0{height:720.000000pt;}
.w0{width:1280.000000pt;}
.x0{left:0.000000pt;}
.x1a{left:9.886299pt;}
.x19{left:30.869817pt;}
.x1b{left:76.996007pt;}
.xd{left:96.624603pt;}
.x4{left:115.199992pt;}
.x3{left:121.651001pt;}
.x2{left:124.800008pt;}
.x1{left:130.812093pt;}
.x16{left:147.968079pt;}
.x14{left:166.729407pt;}
.x17{left:218.366923pt;}
.x15{left:240.118486pt;}
.x2e{left:247.977376pt;}
.x18{left:291.358419pt;}
.x13{left:309.233557pt;}
.x12{left:351.183838pt;}
.xe{left:355.796794pt;}
.x2a{left:572.140177pt;}
.x24{left:581.755412pt;}
.x10{left:606.275655pt;}
.x2b{left:620.718669pt;}
.xf{left:626.347918pt;}
.x22{left:644.239705pt;}
.x23{left:664.085323pt;}
.x2d{left:671.217041pt;}
.x25{left:701.675374pt;}
.x1f{left:765.542074pt;}
.x1d{left:784.303300pt;}
.x2c{left:786.754964pt;}
.x26{left:833.340251pt;}
.x11{left:850.080668pt;}
.x5{left:854.047689pt;}
.x20{left:898.387207pt;}
.x1e{left:920.138749pt;}
.x27{left:963.704590pt;}
.xc{left:1026.306030pt;}
.x21{left:1032.893311pt;}
.xa{left:1039.139364pt;}
.x1c{left:1050.768469pt;}
.x9{left:1062.806030pt;}
.x6{left:1097.363312pt;}
.xb{left:1109.529978pt;}
.x8{left:1139.863312pt;}
.x7{left:1152.029968pt;}
.x29{left:1181.391846pt;}
.x28{left:1199.267005pt;}
}
